body {
    font-family: 'Franklin Gothic Medium', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	margin: 0;
    line-height: 1.6;
    background-color: #121619;
    color: #41FB35;
}

h3 {
    font-size: 24px;
    text-align: center;
    color: #CED1D3;
}

.dice-section {
    /*border: solid 1px #41FB35;*/
    border-radius: 3px;
    margin: 34px 10%;
    background-color: #2F3336;
    padding: 1px 0%;
}

.roll-button {
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    border-radius: 40px;
    border: none;
    padding: 5% 10%;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.3);
    background-color: #41FB35;
    color: #2F3336;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
    margin-top: 15%;
}

.roll-button:hover {
    background-color:#6afb35;
    /*
    opacity: 90%;
    */
}

.roll-score {
    text-align: center;
    border-radius: 3px;
    margin: 15%;
    padding: 5%;
    background-color: #CED1D3;
    color: #2F3336;
    font-weight: bold;
}

#crit {
    color: #41FB35;
    padding: 5%;
    margin: 5%;
    text-align: center;
}


@media only screen and (min-width: 340px) {
    .dice-section {
        width: 272px;
        margin: 34px auto;
    }
}


@media only screen and (min-width: 646px) {
    body {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }

    .dice-section {
        margin-bottom: 17px;
        margin-top: 17px;
    }

    div:nth-child(odd) {
        margin-right: 17px;
    }

    div:nth-child(even) {
        margin-left: 17px;
    }
}