body {
    font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	margin: 0;
    line-height: 1.6;
    background-color: white;
    height: 100vh;
}

h3 {
    font-size: 24px;
    position: relative;
    left: 60%;
    top: 60%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}

button {
    font-size: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    box-shadow: 3px 3px;
}

